@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');

* {
  margin: 0;
  font-family: "Quicksand";
  color: black;
}

.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px solid snow;
}

.navbar h1 {
  color: red;
}

.navbar .links {
  margin-left: auto;
}

.navbar a {
  margin-left: 16px;
  padding: 6px;
  text-decoration: none;
}

.navbar a:hover {
  color: blue;
}

.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}

.btn-block{ 
  -webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box
}

.btn-block{
  width: 12cm;
  height: 4cm;
}

.btn-block2{
  font-weight: bolder;
  width: 6cm;
  height: 1cm;
  align-items: center;
  margin: 0 auto;
  color: white;
  background-color: green;
  border-color:#c5c5c5;border-color:rgba(0,0,0,0.15) rgba(0,0,0,0.15) rgba(0,0,0,0.25);
  -webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.05);-moz-box-shadow:inset 0 1px 1px rgba(0,0,0,0.05);box-shadow:inset 0 1px 1px rgba(0,0,0,0.05)
}

.button2{
  padding-top: 30px;
  text-align: center;
}

.controls{
  padding-left: 5em;
 margin-top: -1.1em;
}

.phrase{
  width: 18em;

}

.title{margin:0;font-size:14px;font-weight:normal;line-height:18px;background-color:#f7f7f7;border-bottom:1px solid #ebebeb;-webkit-border-radius:5px 5px 0 0;-moz-border-radius:5px 5px 0 0;border-radius:5px 5px 0 0}.popover-content{padding:9px 14px}.popover .arrow,.popover .arrow:after{position:absolute;display:block;width:0;height:0;border-color:transparent;border-style:solid}

.title{
  display: block;
  margin-bottom: 0.5em;
}

label{
  display: inline-block;
  text-align: left;
  width: 140px;
}



